.inner_number {padding:15px;background:#FFFFFF;border:solid 1px #C6C6C6;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;-khtml-border-radius:15px;}
.number_0 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-0-icon.png') no-repeat; }
.number_1 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-1-icon.png') no-repeat; }
.number_2 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-2-icon.png') no-repeat; }
.number_3 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-3-icon.png') no-repeat; }
.number_4 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-4-icon.png') no-repeat; }
.number_5 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-5-icon.png') no-repeat; }
.number_6 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-6-icon.png') no-repeat; }
.number_7 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-7-icon.png') no-repeat; }
.number_8 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-8-icon.png') no-repeat; }
.number_9 { margin:0px;padding:0px;height:256px;width:150px;background:url('imgs/Number-9-icon.png') no-repeat; }