a:link { color: #0000ff; }
a:visited { color: #0000ff; }
a:active {color: #0000ff;}
a:hover { color: #ff0000; }
a { 
	text-decoration: none;
	color: #0000ff; 
}

.title { 
	background:#666633; 
	color:#ffffff;
	font-weight:bold; 
}
.header { font-weight:bold; color:#004dec; }

.label { background: #E4E4E4; }

.textInput {
	background:#EAFFFF; 
}
.textInput[disabled] {
	background:#c6c6c6; 
}

.btn { 
	border-left:2px solid #f8f8f8; 
	border-top:2px solid #f8f8f8; 
	border-right: 2px solid #999999; 
	border-bottom: 2px solid #999999;
	background:#666666;
	color:#ffffff; 
	font-weight:bold; 
	cursor:pointer; 
}

.btn[disabled] { 
	background:#c6c6c6; 
	color:#666666; 
	font-weight: bold; 
	cursor: default; 
}

.tbadmin { 
	border:1px solid #4a4aef; 
	background:#ffffff; 
}

.tbdata { 
	border:1px solid #4a4aef; 
	background:#ffffff;
	margin: 0px;
	padding: 1px; 
}

.textInput, .btn, .tbadmin {
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

.innerData {
	width: 100%;
	height: 350px;
	overflow: auto;
	border: solid 1px #c6c6c6;
}

.cl_oder { background:#ebebeb; }
.cl_event { background:#C9D6F1; }
.cl_on { background:#D9FFFF; }

.i_wait { background:url('images/wait.gif') no-repeat; padding-left:32px; color:#ffffff; font-weight:bold; height:32px;padding-right:5px; }

.addItem { background:url('images/add.png') no-repeat; padding-left: 18px;padding-right:5px; }
.editItem { background:url('images/edit.png') no-repeat; padding-left: 18px;padding-right:5px; }
.downloadItem { background:url('images/download.png') no-repeat; padding-left: 18px;padding-right:5px; }
.uploadItem { background:url('images/upload.png') no-repeat; padding-left: 18px;padding-right:5px; }

.header, .title, .textH { font-family:Tahoma; font-size: 15px; }
.tbadmin, .textInput, .btn, select, textarea, a, .label, div, body, .textM, .file_ok, .file_nok, .addItem, .editItem { font-family:Tahoma; font-size: 13px; }

body { background: #e6e6e6; margin:0px; padding:0px; }
.content { background: #f7f7f7; position:static; z-index:0; padding:10px; }



